.button {
  color: var(--very-dark-grey);
  width: 100%;
  height: 65px;
  background: var(--neon-green);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  cursor: pointer;
}

.button:hover {
  border: 2px solid var(--neon-green);
  background: var(--very-dark-grey);
  color: var(--neon-green);
}

.text {
  text-transform: uppercase;
}

.icon {
  margin-left: 24px;
  fill: currentColor;
}
