.bar_list {
  display: flex;
  flex-direction: row;
}

.bar_list > *:not(:last-child) {
  margin-right: 7.5px;
}

.too_weak {
  color: var(--red);
}

.weak {
  color: var(--orange);
}

.medium {
  color: var(--yellow);
}

.strong {
  color: var(--neon-green);
}
