.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  fill: var(--neon-green);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.icon:hover {
  fill: var(--almost-white);
}

.text {
  margin-right: 16px;
  text-transform: uppercase;
  pointer-events: none;
  color: var(--neon-green);
  transition: transform 0.3s linear, opacity 0.2s ease-in-out;
}

.show {
  transform: translateX(0px);
  opacity: 1;
}

.hide {
  transform: translateX(30px);
  opacity: 0;
}
